.foo {
  background-color: chartreuse;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.cccsss{
  border:1px solid #ccc;
  /* border-top-left-radius:     1em 5em;
  border-top-right-radius:    1em 5em;
  border-bottom-right-radius: 1em 5em;
  border-bottom-left-radius:  1em 5em; */
}
.global-search-bar{
  width:100%;
}
.global-search-bar-form-control{
  margin:15px !important;
  width:95% !important;
}
.financial-chart-container{
  border: 1px solid #ccc;
}
.MuiBox-root-10 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.MuiTableCell-root{
  padding: 0 !important;
}